<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ToDoList</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="Css/styles.css" rel="stylesheet">
    </head>
    <body>