@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  background-color: black;
  height: 100vh;
  width: 500px;
  background-image: url("./img/back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container {
  max-width: 330px;
  margin: 0 auto;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero {
  width: 100%;
  height: 300px;
}
.hero .image {
  margin-bottom: 4rem;
  height: 200px;
}
.hero .image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.hero .text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .text-container .left h1 {
  font-size: 1.9em;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.hero .text-container .left h3 {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0.2rem;
  opacity: 0.7;
}
.hero .text-container .right-like img {
  height: 20px;
}
.progress-bar {
  height: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  margin-bottom: 1.5rem;
}
.progress-bar:hover {
  cursor: pointer;
}
.progress {
  height: 10px;
  border-radius: 10px;
  width: 0%;
  background-color: skyblue;
}
.players {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.players .functions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.timer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.players .functions .prev:hover,
.players .functions .play-pause:hover,
.players .functions .next:hover,
.back,
.right-like:hover {
  cursor: pointer;
  border: none;
  outline: none;
}
